* {
    margin: 0;
    padding: 0;
}
html {
    overflow: hidden;
}
body {
    font-family:Monospace;
    font-size:13px;
    text-align:center;

    /*background-color: #050505;*/
    margin: 0px;
    overflow: hidden;
}

